.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  font-family: 'Metal Mania', sans-serif;
}

.search {
  background-color: #3498db;

  &:hover {
    background-color: #5eaae8;
  }

  &:active {
    background-color: #0e5c99;
  }
}

.error {
  background-color: red;
  &:hover {
    background-color: rgb(237, 41, 41);
  }

  &:active {
    background-color: rgb(245, 9, 9);
  }
}

.backButton {
  margin: 20px 0;
  background-color: #3498db;

  &:hover {
    background-color: #5eaae8;
  }

  &:active {
    background-color: #0e5c99;
  }
}
