.button {
  cursor: pointer;
  font-size: 20px;
  font-family: 'Metal Mania', sans-serif;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.search {
  background-color: #3498db;

  &:hover {
    background-color: #5eaae8;
  }

  &:active {
    background-color: #0e5c99;
  }
}

.error {
  background-color: red;
  &:hover {
    background-color: rgb(237, 41, 41);
  }

  &:active {
    background-color: rgb(245, 9, 9);
  }
}

.backButton {
  margin: 20px 0;
  background-color: #3498db;

  &:hover {
    background-color: #5eaae8;
  }

  &:active {
    background-color: #0e5c99;
  }
}

.arrow {
  width: 60px;
  height: 60px; 
  border-radius: 100%;
  background-color: rgb(248,211,38);
  filter: drop-shadow(0 0 20px red);
  &:hover {
    background-color: rgb(231, 191, 10);
  }

  &:active {
    background-color: rgb(197, 164, 20);
  }
}
