.wrapper {
  box-sizing: border-box;
  background: linear-gradient(0deg, #040100, #d67a09, #bf9056);
  padding: 40px 15px;
  height: 100vh;
  font-family: 'Nosifer', sans-serif;
  text-align: center;
  @media (max-width: 700px) {
    font-size: 12px;
  }
  @media (max-width: 480px) {
    font-size: 10px;
  }
}

.title {
  color: rgb(141, 10, 10);
}

.wrapperPoem {
  margin: 40px 0;
}

.button {
  animation: pulse 2s infinite;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #4caf50;
  padding: 10px;
  width: 300px;
  color: #fff;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
