@import '../../styles/variables.scss';

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  background: $bg-main-color;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.infoAndCardWrap {
  display: flex;
  max-width: 1200px;
  
}

.wrapCard {
  max-width: 1200px;
  padding: 20px 0;
  flex: 2;
}

.characterInfo {  
  background-color: #20575a;
  flex: 1;
}

.teleportTop {
  width: 300px;
  position: absolute;
  left: 15px;
  top: 40px;
  @media (max-width: 1780px) {
    width: 200px;
  }
  @media (max-width: 1605px) {
    display: none;
  }
}

.teleportBottom {
  width: 300px;
  position: absolute;
  right: 15px;
  bottom: 40px;
  @media (max-width: 1780px) {
    width: 200px;
  }
  @media (max-width: 1605px) {
    display: none;
  }
}
