.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;  
}

.card {
  background: linear-gradient(135deg, #bdb9b5, #096874, #dce1dc);
  width: 250px;
  padding: 10px;
  border: 1px solid green;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
}

.characterInfo {
  padding-bottom: 20px;
}

.characterImage {
  width: 100%;
  border-radius: 15px;
}
