.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.wrapCard {
  padding: 10px;
  border: 1px solid green;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.loadingIcon { 
  font-size: 25px;
}

