@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 0 15px;
}

.card,
.miniCard {
  perspective: 1000px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid green;
  border-radius: 15px;
  background: $card-color;
  padding: 10px;
  width: 250px;
  text-align: center;

  &:hover {
    transform: scale(1.05) rotateY(180deg);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: scale(1.1);
  }
}

.miniCard {
  width: 150px;
}

.card-inner {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card-back {
  transform: rotateY(180deg);
}

.title,
.miniTitle {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.miniTitle {
  font-size: 18px;
}

.characterInfo {
  padding-bottom: 20px;
}

.characterImage {
  border-radius: 15px;
  width: 100%;
}

.characteristic {
  padding-top: 4px;
}

.link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
