.search {
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  border: 2px solid #3498db;
  border-radius: 5px;
  background-color: #e8edf1;
  padding: 10px;
  font-size: 16px;
}

.search:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  border-color: #01f801;
}
