.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  background: linear-gradient(135deg, #bdb9b5, #096874, #dce1dc);
  width: 100%;
}

.searchWrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}