@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  background: $card-color;
  width: 100%;
  @media (max-width: 1015px) {
    flex-direction: column;
  }
}

.searchWrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  @media (max-width: 586px) {
    flex-direction: column;
  }
}

.titleImg {
  width: 250px;
  filter: drop-shadow(0 0 20px rgb(0, 5, 9));
}

.logo {
  width: 200px;
  filter: drop-shadow(0 0 20px red);
  @media (max-width: 1015px) {
    display: none;
  }
}
