@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background: $card-color;
  padding: 20px 0;
  width: 100%;
  @media (max-width: 1015px) {
    flex-direction: column;
  }
}

.searchWrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  @media (max-width: 586px) {
    flex-direction: column;
  }
}

.titleImg {
  filter: drop-shadow(0 0 20px rgb(0, 5, 9));
  width: 250px;
}

.logo {
  filter: drop-shadow(0 0 20px red);
  width: 200px;
  @media (max-width: 1015px) {
    display: none;
  }
}

.select {
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
  border: 2px solid #3498db;
  border-radius: 5px;

  background-color: #e8edf1;
  padding: 10px;
  padding: 10px;
  font-size: 16px;

  &:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-color: #01f801;
  }
}
